/DE_mini_project/.idea
/DS_mini_project/.virtual_documents
/DS_mini_project/.venv
/DS_mini_project/.ipynb_checkpoints
/DS_mini_project/data/
/final_project/.virtual_documents
/final_project/.vscode
/final_project/.idea
/final_project/virtual_documents